:root {
    --bg-dark: #0d0d0d;
    --gold: #d4af37;
    --gold-hover: #f5d76e;
    --text-light: #e0e0e0;
    --shadow: #1a1a1a;
}

body {
    background-color: var(--bg-dark);
    padding: 0px;
    margin: 0px;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 4px double #d4af37;
    position: sticky;
}

header .center input {
    border-radius: 10px;
    padding: 5px;
    outline: none;
    background-color: transparent;
    color: var(--gold);
    border: 1px solid var(--gold);
}

header .center input::placeholder {
    color: var(--gold);
}

.logo {
    max-width: 60px;
}

header .right button {
    background-color: transparent;
    color: var(--gold);
    border: none;
}

header .right button:hover {
    color: var(--gold-hover);
}

header .right button i {
    font-size: 25px;
    padding: 5px;
}

header .right button i:hover {
    cursor: pointer;

}

/* MENU MOBILE */
.menu-mobile {
    background-color: #2e2c2c;
    opacity: 0;
    max-width: 0px;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease-in;
    height: 100vh;
    position: absolute;
}

.menu-active {
    opacity: 100;
    max-width: 1000px;
}

.menu-mobile UL {
    padding: 0PX;
    margin: 0PX;
}

.menu-mobile ul li {
    padding: 10PX calc(30%);
    border-bottom: 1px solid #606060;
}

.menu-mobile ul li a {
    text-decoration: none;
    color: var(--gold);
    font-size: 20px;
}

.menu-mobile ul li a:hover {
    text-decoration: underline;
    color: var(--gold-hover);
}