.login-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 350px;
    background: linear-gradient(to bottom right, #0a0a0a, #141414);
    padding: 20px;
}

.login-box {
    background-color: #111;
    padding: 40px 35px;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #1f1f1f;
}

.login-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: var(--color-text);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: var(--color-gray);
    margin-bottom: 6px;
}

.input-group input {
    width: 90%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #222;
    background-color: #1a1a1a;
    color: var(--color-text);
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: var(--color-red);
    box-shadow: 0 0 8px rgba(229, 9, 20, 0.4);
    outline: none;
}

.btn-login {
    background-color: var(--color-red);
    color: var(--color-text);
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}

.btn-login:hover {
    background-color: #f6121d;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(229, 9, 20, 0.4);
}

.register-link {
    margin-top: 18px;
    font-size: 0.9rem;
    color: var(--color-gray);
}

.register-link a {
    color: var(--color-red);
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}