.container-login {
    margin: 120px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #d4af37;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-login .titulo {
    text-align: center;
    margin-bottom: 30px;
}

.container-login .titulo i {
    font-size: 35px;
    margin-bottom: 15px;
}

.container-login .titulo h2 {
    margin: 0px;
    color: #d4af37;
}

.container-login .formulario label {
    position: absolute;
    top: 6px;
    left: 10px;
    color: #d4af37;
    transition: .5s ease all;
}

.container-login .formulario .floating-label {
    position: relative;
    margin-bottom: 20px;
}

.container-login .formulario .floating-label input {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    border: 2px solid #d4af37;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    /* pointer-events: none; */
}

.container-login .formulario .floating-label input:focus+label,
.container-login .formulario .floating-label input:not(:placeholder-shown)+label {
    top: -15px;
    left: 0px;
    font-size: 12px;
    padding: 0 4px;
}
.iniciar-btn{
    background-color: #d4af37;
    border-radius: 10px;
    width: 70%;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-top: 20px;
}
.iniciar-btn:hover{
    background-color: #f5d76e;
}